header {
text-align: center;
font-family: "Dusha", sans-serif;
font-size: larger; 
color: gold;
}

.cupimg {
  height: 100%;
  width: 100%;
}

/* .worldcup:hover {
  margin: 0 auto;
  height: 200px;
  width: 180px;
  padding-bottom: 20px;
} */

.worldcup {
  margin: 0 auto;
  height: 200px;
  width: 140px;
  padding-bottom: 20px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-image: url("/images/worldcupbg.jpg");
  background-position: center;
  background-size: 100%;
}

.teams {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.team1Box, .team2Box {
  display: flex;
  /* border: 2px solid white; */
  justify-content: center;
  align-items: flex-end;
  height: 20vh;
  width: 25vh;
  padding: 10px;
}

.team1Name, .team2Name {
display: flex;
border: 1px solid white;
justify-content: center;
align-items: center;
font-family: "Dusha", sans-serif;
/* text-align: center; */
height: 25%;
width: 100%;
color: gold;
font-size: 20px;
}



/* .worldcup {
  height: 100%;
  width: 100%;
} */

/* FOR TABLETS AND MOBILE  */

@media screen and (max-width: 770px) {
  header {
    text-align: center;
    font-family: "Dusha", sans-serif;
    font-size: large; 
    color: gold;
    }

    .worldcup {
      margin: 0 auto;
      height: 200px;
      width: 140px;
      padding-bottom: 20px;
    }

    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10%;
      width: 30%;
      margin: 0 auto;
      background-color: silver;
    }
  
    body {
      background-image: url("/images/worldcupbg.jpg");
      background-position: center;
      background-size: 100%;
    }

    .teams {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }

    .team1Box, .team2Box {
      display: flex;
      /* border: 2px solid white; */
      justify-content: center;
      align-items: flex-end;
      height: 20vh;
      width: 25vh;
      padding-top: 15px;
    }

  .team1Name, .team2Name {
    display: flex;
    border: 1px solid white;
    font-family: "Dusha", sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 25%;
    width: 100%;
    color: gold;
    font-size: 1.2rem;
  }
}
  

/* @media screen and (min-width: 601px) {

  header {
    text-align: center;
    font-family: "Dusha", sans-serif;
    font-size: large; 
    color: gold;
    }

    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20%;
      width: 30%;
      margin: 0 auto;
    }
  
    /* body {
      background-image: url("/images/worldcupbg.jpg");
      background-position: center;
      background-size: 100%;
    } */

    /* .teams {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }

    .team1Box, .team2Box {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 20vh;
      width: 15vh;
      padding: 10px;
    }
    
    .team1Name, .team2Name {
      display: block;
      border: 1px solid white;
      padding: 0;
      font-family: "Dusha", sans-serif;
      text-align: center;
    height: 15%;
    width: 100%;
    color: gold;
    font-size: 100%;
  }
 */